<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Purrspective</title>
    <style>
    body {background-image: url(http://hdwallpaperia.com/wp-content/uploads/2013/10/Lonely-Sad-Cat.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
    h1 {
    text-align: center;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 300%;
    }
    h3  {
    text-align: center;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 160%;
    }
    form {
    text-align: center;
    height:300px;
    font-size:14pt;
    }
    </style>

  </head>
 
  <body>
    
    <h1>Purrspective</h1>


    <form method="POST" action="/meow">
      <h3>What are you worried about?</h3>
      <input type="text" name="user_problem">
      <input type='submit' value='Get Purrspective'>
    </form>

  </body>
</html>